.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust as needed */
}

.centered-textbox {
  text-align: center;
}

input[readonly] {
  /* Additional styles for non-editable input */
  border: none;
  outline: none;
  background-color: transparent;
}
